body {
    border: 1px solid black;
}
.title {
    text-align: center;
    font-size: 2em;
    background-color: gray;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
}

.footer{
    text-align: center;
    font-size: 2em;
    background-color: gray;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
}
