body {
    border: 1px solid black;
}
.title {
    text-align: center;
    font-size: 2em;
    background-color: gray;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
}
 .left .rb{
    border: 1px solid black;
    width: 100px;
    text-align: center;

}

.left{
    margin-left: 5%;
    margin-top:5%;
    margin-bottom:5%;
    display: inline-block;
}
.font1{
    font-family: cursive;
    text-decoration: none;
    color:red;
}
.font2{
    font-family: fantasy;
    text-decoration: none;
}
.font3{
    font-family: courier;
    text-decoration: none;
}
.font4{
    font-family: sans-serif;
    text-decoration: none;
}
.font5{
    font-family: monospace;
    text-decoration: none;
}
.font6{
    font-family: serif;
    text-decoration: none;
}
body img {
    height:10em;
    margin-left: 50%;

}

.footer{
    text-align: center;
    font-size: 2em;
    background-color: gray;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
}
